[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
aiogram = "==3.0.0b7"
sqlalchemy = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "3.11"
